{% extends 'base.html.twig' %}

{% block title %}Mes produit{% endblock %}

{% block body %}
{{form_start(formulaire)}}
{{form_widget(formulaire)}}

<button type="submit">envoyer</button>
{{form_end(formulaire)}}
{% endblock %}


